<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="table-container">
        <div class="title">List Users</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <% for( let user of listUsers ) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <div>
                            <a href="/update/<%= user.id %>">Edit</a>
                            <form action="/delete-user/<%= user.id  %> " method="POST" style="display: inline-block;">
                                <button>Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <% } %>

        </table>

    </div>

</body>

</html>